{% extends 'main/main_template.html' %} {% block content %}

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Customer: {{customer_name}}</h5>
      <hr />
      <a class="btn btn-info btn-sm btn-block" href="{% url 'create-customer-order' customer.id %}">Create
        Order</a>
      <a class="btn btn-warning btn-sm btn-block" href="{% url 'update-customer' customer.id %}">Update
        Customer</a>
      <a class="btn btn-danger btn-sm btn-block" href="{% url 'delete-customer' customer.id %}">Delete
        Customer</a>
    </div>
  </div>

  <div class="col-md">
    <div class="card card-body">
      <h5>Contact Information</h5>
      <hr />
      <p>Name: {{customer_name}}</p>
      <p>Email: {{customer_email}}</p>
    </div>
  </div>

  <div class="col-md">
    <div class="card card-body">
      <h5>Total Orders</h5>
      <hr />
      <h1 style="text-align: center; padding: 10px">{{corders_count}}</h1>
    </div>
  </div>
</div>

<br />
<!-- Search Filter Modal -->
<!-- Button trigger modal -->
<div class="row">
  <div class="col-md-8">
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#orderFilterModal">
      Filter Products
    </button>
  </div>
  <div class="col-md-4">
    <a class="btn btn-block btn-info" href="{% url 'customer' customer.id %}">Reset Filters</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="orderFilterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="get">

          {% for field in filterOrder.form %}
          <div class="row">
            <div class="col-md-4">
              <div class="text-capitalize">{{field.label}}</div>
            </div>
            <div class="col-md-8">
              {{field}}
            </div>
          </div>
          <hr>
          {% endfor %}
          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary btn-block" type="submit">Search</button>
              </div>

            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- End of Search Filter Modal -->

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Order Notes</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for i in corders %}
        <tr>
          <td>{{i.product}}</td>
          <td>{{i.product.category}}</td>
          <td>{{i.note}}</td>
          <td>{{i.date_created}}</td>
          <td>{{i.status}}</td>
          <td><a href="{% url 'update-order' i.id %}" class="btn btn-sm btn-info">Update</a></td>
          <td><a href="{% url 'delete-order' i.id %}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock %}