<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-bg navbar-light container-fluid">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Yashraj Pahwa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto my-auto mb-2 mb-lg-0">
        <li class="nav-item mx-lg-3 mx-0">
          <a class="nav-link hvr-underline-from-left active home" aria-current="page"
            href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item mx-lg-3 mx-0">
          <a class="nav-link hvr-underline-from-left" href="{% url 'products' %}">Products</a>
        </li>
        <li class="nav-item mx-lg-3 mx-0">
          <a class="nav-link hvr-underline-from-left" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item mx-lg-3 mx-0">
          <a class="btn btn-dark" href="#">Hello, {{request.user}}</a>
        </li>

    </div>
  </div>
</nav>
<!--navbar end-->