{% extends 'main/main_template.html' %} {% block content %}

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Products</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Price</th>
          <th></th>
        </tr>
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'create-product' %}">Create Product</a>
        {% for i in products %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.category}}</td>
          <td>{{i.price}}</td>
          <td><a href="{% url 'update-product' i.id %}" class="btn btn-info btn-sm">Update</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}